.mainBox{
    height: 334px;
    width: 260px;
    min-width: 260px;
    border-radius: 3px 3px 0px 0px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.header{
    height: 26px;
    border-radius: 3px 3px 0px 0px;
    background-color: #4080ff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .20);
    color: white;
    line-height: 26px;
    z-index: 2;
}

.messages{
    height: 248px;
}

.footer{
    height: 60px;
    border-top: 1px solid #ddd;
}

.placeholderText{
    color: #ccc;
    font-size: 12px;
    line-height: 16px;
    margin-top: 12px;
    margin-left: -8px;
}

.footerImg{
    margin-left: -8px;
    margin-top: 5px;
}

section {
    margin-left: -10px;
    padding: 10px;
    position: absolute;
    width: 96%;
    max-height: 100%;
    bottom: 0px;
    overflow: hidden;
    overflow-y: auto;
}

section div.message {
  max-width: 150px;
  word-wrap: break-word;
  margin-bottom: 10px;
  line-height: 18px;
}

.clear {
  clear: both;
}

.from-me {
  position: relative;
  padding: 5px 8px 5px 8px;
  margin: 0px;
  color: white;
  background: #4080ff;
  border-radius: 12px;
  float: right;
}

.from-me p{
    margin-bottom: 0px;
}

.from-them {
    position: relative;
    padding: 5px 8px 5px 8px;
    background: #E5E5EA;
    border-radius: 12px;
    color: #555;
    float: left;
}

.from-them p{
    margin-bottom: 0px;
}

.circle-wrapper {
    width:28px;
    height:28px;
    margin: 25px auto;
    overflow: hidden;
    border-radius:50%;
    position: relative;
    margin-bottom: 10px;
    margin-left: -6px;
}

.circle-wrapper img {
    position: absolute;
    top:50%;
    left:50%;
    width: 28px;
    height: 28px;
    transform: translate(-50%,-50%)
}