.scale25{
    margin-bottom: -75%;
    -ms-transform: scale(.25,.25); /* IE 9 */
     -ms-transform-origin: top;
    -webkit-transform: scale(.25,.25); /* Safari */
    -webkit-transform: top;
    transform: scale(.25,.25); /* Standard syntax */
    transform-origin: top;
}

.scale50{
    margin-bottom: -50%;
    -ms-transform: scale(.5,.5); /* IE 9 */
     -ms-transform-origin: top;
    -webkit-transform: scale(.5,.5); /* Safari */
    -webkit-transform: top;
    transform: scale(.5,.5); /* Standard syntax */
    transform-origin: top;
}

.scale60{
    margin-bottom: -40%;
    -ms-transform: scale(.6,.6); /* IE 9 */
     -ms-transform-origin: top;
    -webkit-transform: scale(.6,.6); /* Safari */
    -webkit-transform: top;
    transform: scale(.6,.6); /* Standard syntax */
    transform-origin: top;
}

.scale70{
    margin-bottom: -30%;
    -ms-transform: scale(.7,.7); /* IE 9 */
     -ms-transform-origin: top;
    -webkit-transform: scale(.7,.7); /* Safari */
    -webkit-transform: top;
    transform: scale(.7,.7); /* Standard syntax */
    transform-origin: top;
}

.scale80{
    margin-bottom: -20%;
    -ms-transform: scale(.8,.8); /* IE 9 */
     -ms-transform-origin: top;
    -webkit-transform: scale(.8,.8); /* Safari */
    -webkit-transform: top;
    transform: scale(.8,.8); /* Standard syntax */
    transform-origin: top;
}


.scale90{
    margin-bottom: -10%;
    -ms-transform: scale(.9,.9); /* IE 9 */
     -ms-transform-origin: top;
    -webkit-transform: scale(.9,.9); /* Safari */
    -webkit-transform: top;
    transform: scale(.9,.9); /* Standard syntax */
    transform-origin: top;
}

.scaleOriginal{
    -ms-transform: scale(1,1); /* IE 9 */
     -ms-transform-origin: top;
    -webkit-transform: scale(1,1); /* Safari */
    -webkit-transform: top;
    transform: scale(1,1); /* Standard syntax */
    transform-origin: top;    
}