<br/><br/>


<div class="container">
    <div class="row">
        <div class="col text-center">
            <button type="button" class="btn btn-secondary" (click)="iMessageClicked()">iMessage</button>
            <button type="button" class="btn btn-secondary" (click)="facebookClicked()">Facebook</button>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-3">
            <div class="card card-outline-secondary mb-3">
                <div class="card-block">
                    <form>
                        <div class="form-group">
                            <label for="themName">Them Name</label>
                            <input type="text" class="form-control" id="themName" [value]="them.Name" (input)="them.Name = $event.target.value">
                        </div>
                        <div class="form-group">
                            <label for="themAvatar">Them Avatar Url</label>
                            <input type="text" class="form-control" id="themAvatar" [value]="them.Avatar" (input)="them.Avatar = $event.target.value">
                        </div>
                    </form>
                    <hr />
                    <form>
                        <div class="form-group">
                            <label for="youName">You Name</label>
                            <input type="text" class="form-control" id="youName" [value]="you.Name" (input)="you.Name = $event.target.value">
                        </div>
                        <div class="form-group">
                            <label for="youAvatar">You Avatar Url</label>
                            <input type="text" class="form-control" id="youAvatar" [value]="you.Avatar" (input)="you.Name = $event.target.value">
                        </div>
                    </form>
                    <hr />
                    <form id="themMessageForm" (submit)="submitThemMessage($event)">
                        <div class="form-group">
                            <label for="themMessage">Them Message</label>
                            <input id="themMessage" class="form-control" [value]="currentThemMessage" 
                                (input)="currentThemMessage = $event.target.value" type="text">
                        </div>
                        <button type="button" id="themMessageButton" class="btn btn-primary float-right" (click)="addThemMessage()">Submit</button>
                    </form>
                    <br/>
                    <form id="youMessageForm" (submit)="submitYouMessage($event)">
                        <div class="form-group">
                            <label for="youMessage">You Message</label>
                            <input id="youMessage" class="form-control" [value]="currentYouMessage" 
                                (input)="currentYouMessage = $event.target.value" type="text">
                        </div>
                        <button type="button" id="youMessageButton" class="btn btn-primary float-right" (click)="addYouMessage()">Submit</button>
                    </form>
                </div>                
            </div>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-secondary btn-block" (click)="fiftyClicked()">50%</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-secondary btn-block" (click)="sixtyClicked()">60%</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-secondary btn-block" (click)="seventyClicked()">70%</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-secondary btn-block" (click)="eightyClicked()">80%</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-secondary btn-block" (click)="ninetyClicked()">90%</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-secondary btn-block" (click)="Originalclicked()">Original</button>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <div #messageView>
                        <facebookPopupMessenger *ngIf="selectedDirective == 'facebook'"
                            [messages]="messages" [you]="you" [them]="them" ></facebookPopupMessenger>
                        <ios9imessage *ngIf="selectedDirective == 'iMessage'"
                            [messages]="messages" [you]="you" [them]="them" ></ios9imessage>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>

<br/><br/>